body {
    background-color: rgb(13, 0, 14);
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 20px;
    color:rgb(255, 230, 0);
}
a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}

#todo-color {
    color: rgb(104, 93, 0);
}



/* De 'a.' s functioneren als verschillende hyperlink kleuren, vandaar dat het
samen staat onder éen kopje. */

.about {
    position: relative;
    top: 150px;
    left: 30px;
    width: 1200px;
    text-align: left;
}

.todo {
    position: absolute;
    bottom: 100px;
    right: 50px;
    text-align: right;
}

.back-button {
    position: absolute;
    text-align: center;
    right: 30px;
    top: 30px;
    width: 50px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 238, 0);
    font-size: 30px;
}
a.back-button {
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

.back-button:hover {
    background-color: rgb(53, 38, 38);
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.feedback {
    position: absolute;
    bottom: 20px;
    right: 300px;
}
.instagram {
    position: absolute;
    bottom: 20px;
    right: 50px;
}
.version-number {
    position: absolute;
    bottom: 20px;
    left: 30px;
}
